[defaults]
inventory = inventory/
host_key_checking = False
remote_user = root
become = yes
become_method = sudo
become_user = root
timeout = 30
log_path = ansible.log
retry_files_enabled = False
gathering = smart
fact_caching = memory
deprecation_warnings = False
command_warnings = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True
control_path_dir = /tmp/.ansible-cp